.change_password_card.large{
  width: 500px;
  height: 350px;
  margin: 120px auto;
}
.change_password_card.normal{
  width: 500px;
  height: 250px;
  margin: 120px auto;
}

.change_password_card h2{
  text-align: center;
  color: #1a83ff;
  margin-bottom: 20px;
}
.change_password_card .form-inputs{
  position: relative;
  margin-bottom: 20px;
}
.change_password_card .password-icon{
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
}

.change_password_card button{
  width: 200px;
  display: block;
  margin: auto;
}