.forget_password_card{
  width: 500px;
  height: 340px;
  margin: 160px auto;
}
.lock-icon{
  padding-top: 10px;
  font-size: 100px;
  text-align: center;
  color: #1a75ff;
}
.danger,.success{
  text-align: center;
  border-radius: 5px;
  margin: auto;
  margin-top: -10px;
  border: 1px solid rgb(241, 76, 76);
  background-color: rgb(241, 76, 76);
  color: #fff;
  padding: 8px;
}
.success{
  background-color: #3a78d6;
  border: 1px solid #3a78d6 ;
}
