.upload-img{
  border-radius: 0;
  width: 400px;
  height: 370px;
}
/* .upload_photo{
  height: 1800px;
}
.upload_photo_preview{
  height: 600px;
} */
/* .btn-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  bottom: 5px;
} */
/* .save-btn{
  top: 10px;
  background: dodgerblue;
  padding: 5px 10px;
  border-radius: 50%;
  color: #fff;
  z-index:11111111111111111111111111111111111111 ;
  border: none;
  font-size: 25px;
} */
/* .upload_photo .btn-container{
position: absolute;
top: 85%;
z-index: 111111;
background-color: greenyellow;
} */