.reset_error{
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.reset_error h1{
  font-size: 40px;
  color: #ff2222;
}
.reset_error p{
  font-size: 30px;
  color: dodgerblue;
}
.reset_card{
  border: 3px solid #ff2222;
  padding: 15px 25px;
  margin: 120px auto;
  width: 500px;
  height: 350px;
}
.reset_card h2{
  color: #ff2222;
  padding: 12px;
  margin-bottom: 2px;
  text-align: center;
}
.reset_card .form-inputs input{
margin-bottom: 5px;
}
.reset_card button{
  margin: 33px auto;
  display:block;
}