.form-wrapper{
  background-color: #1a75ff;
  height: 100vh;
  padding-top: 50px;  
   
}
.form-container{
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form-container .title{
  color: #1a75ff;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}
 
.form-inputs textarea{
  resize: none;
}
.form-buttons .success{
  width: 100%;
}
.form-buttons .warning{
  margin-top: 10px;
  width: 100%;
}


@media (max-width:580px){
  .form-container{
    max-width: 380px;
  }
  .form-buttons{
    flex-direction: row;
    width: 95%;
  }
   .form-buttons .success{
     margin-top: 10px;
    margin-right: 10px;
  }
}

@media (max-width:440px){
  .form-container{
    max-width: 340px;
  }
}

